<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><font></font>

<head> 
<meta charset="UTF-8"> 
<title>Insert title here</title>
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
</head><font></font>
<body><font></font>
  <h2>Hola desde html spring!</h2>
    <p>
        Este es el texto  <strong>	muy especial! </strong> con estilo.
    </p>
    <button type="button" th:onclick="showAlert()">Presione Aqui!!</button>
</body><font></font>
</html>